@import url('https://fonts.googleapis.com/css2?family=Bahianita&family=Fjalla+One&family=Roboto+Condensed:wght@300&display=swap');

*{ 
    margin: 0;
    padding: 0;
}

nav{ 
    background-color: rgb(7, 7, 7);
    color: white;
    height: 27px;
    font-size:20px;
    display: flex;
    align-items:center;
    padding : 12px;
    font-family: 'Bahianita', cursive;

}

nav ul{ 
    list-style-type:none ;
}

.gameContainer{ 
    display: flex;
    justify-content: center;
    margin-top: 50px;
}   

.container{ 
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Bahianita', cursive;
}

.container div{ 
    border: 2px solid black;
    font-size: 8vw;
}

.box{ 
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box:hover{ 
    background-color: rgb(223, 160, 172);
}

.gameInfo{ 
    padding: 0 34px;
    font-family: 'Bahianita', cursive;


}

.br-0{ 
    border-right: 0;
}

.bl-0{ 
    border-left: 0;

}

.bt-0{ 
    border-top: 0;
}

.bb-0{ 
    border-bottom: 0;
}

#rest { 
    margin: 0 23px;
    padding: 1px 18px;
    background-color: blue;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Bahianita', cursive;
    font-size: 15px;
    font-weight: bolder;

}